* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    color: red;
    display: block;
    width: 1020px;
    min-width: 1020px;
    margin: 0 auto;
}

.h1 {
    visibility: hidden;
    height: 0;
    margin: 0;
}

.navigation {
    width: 100%;
    height: 63px;
    background-color: #323232;
    display: flex;
    justify-content: center;
    position: relative;
}

.nav-left {
    position: absolute;
    left: 315.3px;
    top: 26px;
}

.nav-right {
    position: absolute;
    right: 312.3px;
    top: 26px;
}

.item-nav {
    display: inline-block;
}

.item-nav a {
    font-family: "Lato";
    font-weight: bold;
    font-size: 7.21379pt;
    color: rgba(255, 255, 255, 255);
    text-align: justify;
    text-transform: uppercase;
    margin: 0 11px 0 11px;
}

.logo {
    display: inline-block;
    position: absolute;
    margin: 10px 50% 0 auto;
}

.navigation::after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 63px;
	border-left: 45px solid transparent;
	border-right: 45px solid transparent;
	border-top: 26px solid  #323232;
}

.nav-left:before {
    content: "";
    width: 3px;
    height: 2px;
    position: absolute;
    background-color: #484c5f;
    top: 10px;
    left: 77px;
    border-radius: 100%;
}

.nav-right:before {
    content: "";
    width: 3px;
    height: 2px;
    position: absolute;
    background-color: #484c5f;
    top: 10px;
    left: 48px;
    border-radius: 100%;
}
.hex-row-start {
    display: flex;    
    justify-content: center;
    align-items: center;
    position: relative;
    top: 79px;
    left: 0px;    
}

.hex-row-center {
    display: flex;    
    justify-content: center;
    align-items: center;
    position: relative;
    top: 17px;
    left: 0px;
}

.hex-row-end {
    display: flex;    
    justify-content: center;
    align-items: center;
    position: relative;
    top: -46px;
    left: 0px;    
}
.hexagon {
    
    width: 180px;
    height: 230px;
    transform: rotate(120deg);
    overflow: hidden;
    margin: 0 10px;
}

.hex-layer1 {    
    width: 180px;
    height: 230px;
    transform: rotate(120deg);
    overflow: hidden;
}
.hex-layer2 {
    display: flex;
    width: 180px;
    height: 230px;
    transform: rotate(120deg);
    overflow: hidden;
    justify-content: center;
    align-items: center; 
}

.portfolio {
    position: relative;
    height: 721px;
}

.portfolio::before {
    content: "";
    width: 410px;
    height: 1px;
    position: absolute;        
    left: 30px;
    top: 11px;
    background-color: #e4e9eb;
}

.portfolio::after {
    content: "";
    width: 410px;
    height: 1px;
    position: absolute;
    right: 30px;
    top: 11px;;
    background-color: #e4e9eb;
}

.hex-row-start::before {
    content: "";
    width: 1px;
    height: 104px;
    position: absolute;    
    left: 99px;
    top: 62px;
    background-color: #e4e9eb;
}
.hex-row-start::after {
    content: "";
    width: 1px;
    height: 104px;
    position: absolute;    
    right: 99px;
    top: 62px;
    background-color: #e4e9eb;
}
.hex-row-end::before {
    content: "";
    width: 1px;
    height: 104px;
    position: absolute;    
    left: 99px;
    top: 62px;
    background-color: #e4e9eb;
}
.hex-row-end::after {
    content: "";
    width: 1px;
    height: 104px;
    position: absolute;    
    right: 99px;
    top: 62px;
    background-color: #e4e9eb;
}
.hex-row-center::after {
    content: "";
    width: 960px;
    height: 1px;
    position: absolute;
    right: 30px;
    top: 462px;;
    background-color: #e4e9eb;
}

.about {
    background-color: #2eb398;
    height: 341px;
}
